*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
}
.contain{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 250px;
    height: 250px;
    border: 5px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 5px #166ad8;
}
.circle{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #166ad8;
    box-shadow: inset 0 0 25px rgba(0,0,0,0.1);
    border-radius: 50%;
    overflow: hidden;
}
.circle::before,
.circle::after{
    content: '';
    position: absolute;
    width: 200%;
    height: 200%;
    background-color: #fff;
    top: 0;
    left: 50%;
    transform: translate(-50%,-75%);
}
.circle::before{
    border-radius: 45%;
    background: rgba(255,255,255,1);
    animation: wave 5s linear infinite;
}
.circle::after{
    border-radius: 40%;
    background: rgba(255,255,255,0.5);
    animation: wave 10s linear infinite;
}
@keyframes wave{
    0%{
        transform: translate(-50%,-75%) rotate(0deg);
    }
    100%{
        transform: translate(-50%,-75%) rotate(360deg);
    }
}