*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0 5%;
}
header .logo{
    font-size: 35px;
    color: #000;
}
header nav{
    display: flex;
    gap: 30px;
}
header nav a{
    text-decoration: none;
    color: #333;
    font-size: 18px;
}
header nav a.active{
    background-color: #ef4848;
}